<!DOCTYPE html>
<html lang="en">
{% load  staticfiles %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>cs+X</title>
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicons
    ================================================== -->
<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="img/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">

<!-- Stylesheet
    ================================================== -->
<link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'css/nivo-lightbox/nivo-lightbox.css' %}">
<link rel="stylesheet" type="text/css"  href="{% static 'css/nivo-lightbox/default.css' %}">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600,300' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{% static 'js/modernizr.custom.js' %}"></script>
</head>
<body>
	<div class="section-title text-center center">
		<p style="text-align:center; font-size: 60px">ADD YOUR SONG</p>
		<form action="." method="get">
		  Artist of the song:<br>
		  <input type="text" name="artist" value="">
		  <br>
		  Name of the song:<br>
		  <input type="text" name="song" value="">
		  <br>
		  Youtube link of the song:<br> 
		  ( we only need https://www.youtube.com/watch?v=<strong>FonjL7DQAUQ</strong> <= this part ) <br>
		  <input type="text" name="url" value="">
		  <br>
		  The style of the song:<br>
		  <select name="style">
		  	<option value="Rock">Rock</option>
		  	<option value="Alter">Alter</option>
		  	<option value="Folk">Folk</option>
		  </select>
		  <br><br>
		  <input class="btn" style="border-color: #222; width:70px" type="submit" value="Submit">
		</form> 		
	</div>
</body>
</html>
