<!DOCTYPE html>
<html>
    <head>
        <title>THIS is the first page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="style2.css">
        <div class ="date">2018/8/23</div>
    </head>
    <body>
        <div class="container">
            <div class="blog">
                <h1>Welcome to new york</h1>
                <p class="main">
                    Walkin' through a crowd, the village is a glow
                    Kaleidoscope of loud heartbeats under coats
                    Everybody here wanted somethin' more
                    Searchin' for a sound we hadn't heard before
                    And it said
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    It's a new soundtrack I could dance to this beat, beat forevermore
                    The lights are so bright but they never blind me, me
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    When we first dropped our bags on apartment floors
                    Took our broken hearts, put them in a drawer
                    Everybody here was someone else before
                    And you can want who you want
                    Boys and boys and girls and girls
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    It's a new soundtrack I could dance to this beat, beat forevermore
                    The lights are so bright but they never blind me, me
                    Welcome to New York (New York!)
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Like any great love, it keeps you guessing
                    Like any real love, it's ever-changing
                    Like any true love, it drives you crazy
                    But you know you wouldn't change anything, anything, anything
                    Welcome to New York
                </p>

                <h2> yeah</h2>
                <p class="main">hello</p>
            </div>
            <div class="others">
                <ul>
                    <li>first blog</li>
                    <li>second blog</li>
                    <li>third blog</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class = "end">
                <a href="https://www.facebook.com/profile.php?id=100000890692143" target="_blank"><img src ="doggy-profile_image-49d8ec3d807795ef-300x300.jpeg" width=200px></a>
                <p class = name> belong </p>
            </div>
        </div>
    </body>
</html>