<!DOCTYPE html>
<html lang="zh">
{% load  staticfiles %}
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>THIS is my first page</title>
        <link href="https://fonts.googleapis.com/css?family=Notable" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" />
        <!-- <link rel="stylesheet" type="text/css" href="../static/css/style2.css"> -->
        <script type="text/javascript" src="../static.js.js.js"></script>

        <div class ="date">2018/9/26</div>
    </head>
    <body>
    	<div class="bg-img">
        <div class="container">
            <div class="blog">
                <h1 id="newyork">Welcome to new york</h1>
                <p class="main">
                    Walkin' through a crowd, the village is a glow
                    Kaleidoscope of loud heartbeats under coats
                    Everybody here wanted somethin' more
                    Searchin' for a sound we hadn't heard before
                    And it said
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    It's a new soundtrack I could dance to this beat, beat forevermore
                    The lights are so bright but they never blind me, me
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    When we first dropped our bags on apartment floors
                    Took our broken hearts, put them in a drawer
                    Everybody here was someone else before
                    And you can want who you want
                    Boys and boys and girls and girls
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    It's a new soundtrack I could dance to this beat, beat forevermore
                    The lights are so bright but they never blind me, me
                    Welcome to New York (New York!)
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Like any great love, it keeps you guessing
                    Like any real love, it's ever-changing
                    Like any true love, it drives you crazy
                    But you know you wouldn't change anything, anything, anything
                    Welcome to New York
                </p>

				<h2 id="girl">Galway girl</h2>
				<p>
					She played the fiddle in an Irish band
					But she fell in love with an English man
					Kissed her on the neck and then I took her by the hand
					Said, "baby, I just want to dance"
					I meet her on Grafton street right outside of the bar
					She shared a cigarette with me while her brother played the guitar
					She asked me what does it mean, the Gaelic ink on your arm?
					Said it was one of my friend's songs, do you want to drink on?
					She took Jamie as a chaser, Jack for the fun
					She got Arthur on the table with Johnny riding as a shotgun
					Chatted some more, one more drink at the bar
					Then put Van on the jukebox, got up to dance
					You know, she played the fiddle in an Irish band
					But she fell in love with an English man
					Kissed her on the neck and then I took her by the hand
					Said, "baby, I just want to dance"
					With my pretty little Galway girl
					You're my pretty little Galway girl
					You know she beat me at darts and then she beat me at pool
					And then she kissed me like there was nobody else in the room
					As last orders were called was when she stood on the stool
					After dancing to Kaleigh, singing to trad tunes
					I never heard Carrickfergus ever sang so sweet
					A capella in the bar using her feet for a beat
					Oh, I could have that voice playing on repeat for a week
					And in this packed out room swear she was singing to me
					You know, she played the fiddle in an Irish band
					But she fell in love with an English man
					Kissed her on the neck and then I took her by the hand
					Said, "baby, I just want to dance"
					My pretty little Galway girl
					My, my, my, my, my, my, my Galway girl
					My, my, my, my, my, my, my Galway girl
				</p>
            </div>
            <!-- <div class="others">
                <ul>
                    <a href="#newyork"><li>first blog</li></a>
                    <a href="#cow"><li>second blog</li></a>
                    <a href="#girl"><li>third blog</li></a>
                </ul>
            </div> -->
            <div class="others">
                <ul>
                {% for musicdata in datas %}
                    <a href="{{musicdata.url}}" target="_blank"><li>{{musicdata.artist}}-{{musicdata.song}}</li></a>
                {% endfor %}
                </ul>
            </div>

            <div class="clearfix"></div>
            <div>
            	<p style="text-align:center; font-size: 200%; font-family: Notable">This is the picture wall<br>Plz click the pictures</p> 
            	{% for i in piclist %}
            	<a href= "{% url 'pic' i %}"><img class="gg" src="https://picsum.photos/300/300/?image={{i}}"></a>
            	{% endfor %}            	
            </div>
            <div class = "end">
                <a href="https://www.facebook.com/profile.php?id=100000890692143" target="_blank"><img src ="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/38471367_2056684067698018_6804010894524153856_n.jpg?_nc_cat=108&oh=a3f338531b6d8e446516fdd8cdd0e31b&oe=5C1B054D" width=200px></a>
                <p class = name> belong </p>
            </div>
        </div>
    	</div>
    </body>
</html>

<script>
	function big(argument) {
		argument.style.height ="400px";
		argument.style.width = "400px";
		// body...
	}
	function normal(argument){
		argument.style.height =" 300px";
		argument.style.width = "300px";
	}
</script>
<!-- onmouseover="big(this)" onmouseout="normal(this)" -->
<!-- <a data-flickr-embed="true"  href="https://www.flickr.com/photos/152977080@N03/32764885503/" title="Steinweg, Germany"><img src="https://farm3.staticflickr.com/2908/32764885503_ba8c6c628a_b.jpg" width="1024" height="576" alt="Steinweg, Germany"></a> -->