<!DOCTYPE html>
<html lang="zh">
<!-- {% load  staticfiles %} -->
    <head>
    	<meta charset="utf-8">
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>THIS is my first page</title>
        <link href="https://fonts.googleapis.com/css?family=Notable" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="{% static 'css/style2.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" type="text/css" href="../static/css/style2.css">
        <script type="text/javascript" src="../static.js.js.js"></script>

        <div class ="date">2018/9/26</div>
    </head>
    <body>
    	<div class="bg-img">
        <div class="container">
            <div class="blog">
                <h1>Welcome to new york</h1>
                <p class="main">
                    Walkin' through a crowd, the village is a glow
                    Kaleidoscope of loud heartbeats under coats
                    Everybody here wanted somethin' more
                    Searchin' for a sound we hadn't heard before
                    And it said
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    It's a new soundtrack I could dance to this beat, beat forevermore
                    The lights are so bright but they never blind me, me
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    When we first dropped our bags on apartment floors
                    Took our broken hearts, put them in a drawer
                    Everybody here was someone else before
                    And you can want who you want
                    Boys and boys and girls and girls
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Welcome to New York
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    It's a new soundtrack I could dance to this beat, beat forevermore
                    The lights are so bright but they never blind me, me
                    Welcome to New York (New York!)
                    It's been waitin' for you
                    Welcome to New York, welcome to New York
                    Like any great love, it keeps you guessing
                    Like any real love, it's ever-changing
                    Like any true love, it drives you crazy
                    But you know you wouldn't change anything, anything, anything
                    Welcome to New York
                </p>

                <h2>烏牛欄大護法</h2>
                <p class="main">
                	錯誤 本無求饒赦
					覺悟 閣毋準註煞
					今日時機已來
					時代輪迴流轉
					穿山林 阿修羅
					過雺霧 阿修羅
					玄武翻身 朱雀飛啼
					白虎吼喝 青龍滾絞
					眾 神 聽 令 萬 獸 護 法
					望天也保庇
					保庇彼咧人 圓百年夢
					拚生死 幻化運命
					猶原 不復萬劫
					敢講百年空？
					希望佇佗位
				</p>
            </div>
            <div class="others">
                <ul>
                    <li>first blog</li>
                    <li>second blog</li>
                    <li>third blog</li>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div>
            	<p style="text-align:center; font-size: 200%; font-family: Notable">This is the picture wall<br>Plz click the pictures</p> 
            	{% for i in piclist %}
            	<a href= "{% url 'pic' i %}"><img src="https://picsum.photos/300/300/?image={{i}}" onmouseover="big(this)" onmouseout="normal(this)"></a>
            	{% endfor %}            	
            </div>
            <div class = "end">
                <a href="https://www.facebook.com/profile.php?id=100000890692143" target="_blank"><img src ="https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/38471367_2056684067698018_6804010894524153856_n.jpg?_nc_cat=108&oh=a3f338531b6d8e446516fdd8cdd0e31b&oe=5C1B054D" width=200px></a>
                <p class = name> belong </p>
            </div>
        </div>
    	</div>
    </body>
</html>

<script>
	function big(argument) {
		argument.style.height ="400px";
		argument.style.width = "400px";
		// body...
	}
	function normal(argument){
		argument.style.height =" 300px";
		argument.style.width = "300px";
	}
</script>