<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>picture page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body style="background-color: azure">
	<div>
		<p style="text-align:center; font-size: 60px">THIS IS THE PICTURE PAGE</p>
		<a href=""><img src="https://picsum.photos/300/300/?image={{picid}}"></a>	
	</div>
</body>
</html>
